*~
.autotools
.cproject
.project
.settings
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
m4/
stamp-h?
.deps/
.dirstamp
*.o
autoscan.log
depcomp
missing
install-sh
main
COPYING
INSTALL
src/compile